 /* Regra de ouro do Box Model */
* {
    box-sizing: border-box;
}

/* Contêiner para centralizar os cards */
.container {
    width: 90%; 
    margin: 0 auto; /* centraliza */
    display: flex;
    gap: 2rem; /* espaço entre os cartões */
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos dos cartões */
.card {
    width: 30%; /* usa % para ser mais responsivo */
    background-color: #e68ecb;
    border: 2px solid #bc07f3;
    border-radius: 10px;
    padding: 1.5rem; /* padding interno */
    margin: 1rem 0; /* margem externa */
    text-align: center;
    box-shadow: 0 0 10px rgba(28, 163, 61, 0.1);
}

/* "Imagem" representada como um quadrado colorido */
.card .img {
    width: 100%;
    height: 150px;
    background-color: #db34cd; /* cor da imagem */
    border-radius: 10px;
    margin-bottom: 1rem;
}
